<div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Format</th>
                    <th>Type</th>
                    <th>ISO</th>
                    <th>Number of exposures</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% if collections.filmstock %}
                    {% for filmStock in collections.filmstock %}
                        <tr>
                            <td>{{filmStock.data.name}}</td>
                            <td>{{filmStock.data.format}}</td>
                            <td>{{filmStock.data.type}}</td>
                            <td>{{filmStock.data.iso}}</td>
                            <td>{{filmStock.data.numOfExposures}}</td>
                            <td>{{filmStock.data.price}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    {# {% if collections.filmstock %}
        {% for filmStock in collections.filmstock %}
            {{ filmStock.data.name }}
        {% endfor %}
    {% endif %} #}
</div>